*{
    background-color: rgb(217, 234, 211);
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    border: 10px solid white;
}
header{
    background-color:rgb(35, 16, 16); 
    border-color: #231010;
    padding-bottom:10px;
    padding-left: 50px;
}

.nav-bar{
    width: fit-content;
    background: rgb(35, 16, 16);
    padding: 10px;
}
button{
    background: rgb(35, 16, 16);
    border: none;
    color:rgb(217, 234, 211);
    font-size: 15px;

}

.blog-name{
    border:rgb(217, 234, 211);
    border-radius: 8px;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px #A7A7A7;
}

h1{
    font-weight: bold;
}