
*{
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
}
    
body{
    border: 10px solid white;
    background-color: rgb(217, 234, 211);
    height: 100%;
}

header{
    background-color:rgb(35, 16, 16); 
    border-color: #231010;
    padding-bottom:10px;
    padding-left: 50px;
 }
 
.nav-bar{
    width: fit-content;
    background: rgb(35, 16, 16);
    padding: 10px;
 }

.nav-bar button{
    background: rgb(35, 16, 16);
    border: none;
    color:rgb(217, 234, 211);
    font-size: 15px;
    
}
    
.blog-name{
    background-color:rgb(217, 234, 211);
    border-radius: 8px;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px #A7A7A7;
}
    
h1{
    font-weight: bold;
}

#login-error{
    opacity: 0;
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
}

#login-error-msg-second-line {
    display: block;
  }

.sign-in-div{
    margin:10px;
    margin-left: 30%;
    padding: 10px;
    height: auto;
    width: 50%;
    border-radius: 5px 5px;
    background-color: white;
    margin-top: 5%;
    text-align: center;
    
}; 


form{
    justify-content: center;
}
#submit{
    border: none;
    background: none;
}